body {
    background-color:mediumspringgreen;
    padding-bottom: 20px;
}

header {
    background-color:#4e54ff;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    text-align: center;
}

main {
    background-color:#a3a6ff, transparent;
    padding-left: 150px;
    padding-right: 150px;
}

footer {
    background-color:#ababab;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;    
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blue;
    background-color: rgb(255, 255, 255);
}

h2{
    color: rgb(12, 12, 104);
}